@model Cinema.Models.Producer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group text-center">
                <img id="ImagePreview" class="border-info rounded-pill" style="max-width: 150px" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biografy" class="control-label"></label>
                <input asp-for="Biografy" class="form-control" />
                <span asp-validation-for="Biografy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>

    @*<script src="~/ckeditor5-build-classic/ckeditor.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                ClassicEditor.create(document.querySelector('#Biografy'));
            });
        </script>*@
}
